/* Allows for smooth scrolling when clicking on different sections of the webpage */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 10px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

th, td {
  padding: 6px;
  color: black;
  text-align: left;
}

.hidden {
  opacity: 0;
}

.fade-in-1 {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  opacity:1;
}

table {
  width: 1024px;
  margin: 0px auto;
  font-size: 20px;
  border-collapse: separate;
  border-radius:25px;
  background-color: #d8f9f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-separator {
  background-color: gray;
}

.header,
.footer {
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  padding: 8px;
  background: #3C91E6;
}

.header {
  position: fixed;
  z-index:1;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  top: 0;
  font-family: 'Courier New', monospace;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
  margin-top: 16px;
  bottom: 0;
  justify-content: center;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation > li {
  padding: 0px;
}

.segment {
  margin-bottom: 70px;
  height: 1px;
}

.text-box {
  text-align: left;
  font-size: 22px;
  min-width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

/* A number of different keyframes declarations for different browser types */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.info-grid {
  display: grid;
  /* Generates a grid with 6 columns and 7 rows */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /* Sets up the template for fitting the "Profile:" info */
  grid-template-areas:
          "Name Name Position-l Position Position"
          "Photo Photo Seper1 Seper1 Seper1"
          "Photo Photo Qual-l Qual1 Qual1"
          "Photo Photo Seper2 Qual2 Qual2"
          "Photo Photo Trav-l Trav1 Trav1"
          "Email-l Email Seper3 Trav2 Trav2"
          "Phone-l Phone Seper4 Seper4 Seper4"
          "Github-l Github Reference-l Reference Reference"
          "Linkedin-l Linkedin Seper5 Seper5 Seper5";

  grid-template-columns: 100px 265px 150px auto auto;
  grid-template-rows: 40px 40px 20px 40px 20px 40px 40px 40px 60px;
  grid-gap: 10px;
  text-align: left;
  font-size: 20px;
  border-radius: 25px;
  width: 1024px;
  min-width: 1024px;
  margin: 0px;
  padding: 0px;
  background: rgb(255,127,80);
  background: linear-gradient(to right, #00b5c0 38%, #00d9dd 38%, #00d9dd 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-grid > div {
  padding: 0px 18px;
}

/* Maps the sections of the grid to the divs */

.photo {
  grid-area: Photo;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
.name {
  grid-area: Name;
  display: flex;
  justify-content: center;
}

.position-l {
  grid-area: Position-l;
}

.position {
  grid-area: Position;
}

.github-l {
  grid-area: Github-l;
}

.github {
  grid-area: Github;
}

.qual-l {
  grid-area: Qual-l;
}

.qual1 {
  grid-area: Qual1;
}

.qual2 {
  grid-area: Qual2;
}

.email-l {
  grid-area: Email-l;
}

.email {
  grid-area: Email;
}

.linkedin-l {
  grid-area: Linkedin-l;
}

.linkedin {
  grid-area: Linkedin;
}

.birth-l {
  grid-area: Birth-l;
}

.birth {
  grid-area: Birth;
}

.license-l {
  grid-area: Trav-l;
}

.license1 {
  grid-area: Trav1;
}

.license2 {
  grid-area: Trav2;
}

.phone-l {
  grid-area: Phone-l;
}

.phone {
  grid-area: Phone;
}

.reference-l {
  grid-area: Reference-l;
}

.reference {
  grid-area: Reference;
}

.medium-img {
  width: 100px;
  height: 100px;
}

.clickable-svg {
  width: auto;
  height: 18px;
}

.coding-e {
  border-radius: 25px;
  background-color: lightblue;
  border-width: 10px;
  padding: 20px;
  flex-shrink: 0;
  min-width: 200px;
}

#hello-message {
  display: flex;
  align-items: center;
  padding: 8px;
}

#profile-portrait {
  border-radius: 50%;
  width: auto;
  height: 100%;
}

#header-portrait {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.awards {
  margin: 4pt;
}

.web, .database, .general, .ide {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.web {
  background: rgb(0,255,255);
  background: linear-gradient(0deg, rgba(0,255,255,1) 0%, rgba(0,234,255,1) 25%, rgba(0,214,255,1) 50%, rgba(0,168,255,1) 75%, rgba(0,142,255,1) 100%);
}

.database {
  background: rgb(0,255,184);
  background: linear-gradient(0deg, rgba(0,255,184,1) 0%, rgba(0,255,222,1) 25%, rgba(0,255,255,1) 50%, rgba(0,215,255,1) 75%, rgba(0,185,255,1) 100%);
}

.general {
  background: rgb(0,249,255);
  background: linear-gradient(0deg, rgba(0,249,255,1) 0%, rgba(0,249,255,1) 25%, rgba(0,202,255,1) 50%, rgba(0,146,255,1) 75%, rgba(0,116,255,1) 100%);
}

.ide {
  background: rgb(0,225,151);
  background: linear-gradient(0deg, rgba(0,225,151,1) 0%, rgba(0,225,192,1) 25%, rgba(0,225,223,1) 50%, rgba(0,201,225,1) 75%, rgba(0,167,225,1) 100%);
}