/* Allows for smooth scrolling when clicking on different sections of the webpage */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 10px;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

th, td {
  color: black;
  text-align: left;
  padding: 6px;
}

table {
  font-size: 20px;
  border-collapse: separate;
  border-radius: 25px;
  margin: 0px auto;
  background: #d8f9f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  padding: 8px;
  background: #3C91E6;
  font-family: 'Courier New', monospace;
  font-size: 26px;
  position: fixed;
  z-index:1;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation > li {
  padding: 0px;
}

.hidden {
  opacity: 0;
}

.segment {
  height: 1px;
  margin-bottom: 70px;
}

.row-separator {
  background: gray;
}

.text-box {
  text-align: left;
  font-size: 22px;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  opacity:1;
}

/* A number of different keyframes declarations for different browser types */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.slide-in {
  animation: slideIn 1s;
  -webkit-animation: slideIn 1s;
  -moz-animation: slideIn 1s;
  -o-animation: slideIn 1s;
  -ms-animation: slideIn 1s;
  margin-left: 0px;
}


@keyframes slideIn {
  0% {margin-left: -220px;}
  100% {margin-left: 0px;}
}

@-moz-keyframes slideIn {
  0% {margin-left: -220px;}
  100% {margin-left: 0px;}
}

@-webkit-keyframes slideIn {
  0% {margin-left: -220px;}
  100% {margin-left: 0px;}
}

@-o-keyframes slideIn {
  0% {margin-left: -220px;}
  100% {margin-left: 0px;}
}

.name-animation {
  animation: slideInMove 2s;
  -webkit-animation: slideInMove 2s;
  -moz-animation: slideInMove 2s;
  -o-animation: slideInMove 2s;
  -ms-animation: slideInMove 2s;
  margin-left: 10px;
  opacity: 1;
}

@keyframes slideInMove {
  0% {margin-left: 0px; opacity: 0;}
  40% {margin-left: 0px; opacity: 0;}
  100% {margin-left: 10px; opacity: 1;}
}

@-moz-keyframes slideInMove {
  0% {margin-left: 0px; opacity: 0;}
  40% {margin-left: 0px; opacity: 0;}
  100% {margin-left: 10px; opacity: 1;}
}

@-webkit-keyframes slideInMove {
  0% {margin-left: 0px; opacity: 0;}
  40% {margin-left: 0px; opacity: 0;}
  100% {margin-left: 10px; opacity: 1;}
}

@-o-keyframes slideInMove {
  0% {margin-left: 0px; opacity: 0;}
  40% {margin-left: 0px; opacity: 0;}
  100% {margin-left: 10px; opacity: 1;}
}

.info-grid {
  display: grid;
  /* Sets up the template for fitting the "Profile:" info */
  grid-template-areas:
          "Name Name Position-l Position Position"
          "Photo Photo Location-l Location Location"
          "Photo Photo Qual-l Qual1 Qual1"
          "Photo Photo Seper2 Qual2 Qual2"
          "Photo Photo Trav-l Trav1 Trav1"
          "Email-l Email Seper3 Trav2 Trav2"
          "Phone-l Phone Seper4 Seper4 Seper4"
          "Github-l Github Reference-l Reference Reference"
          "Linkedin-l Linkedin Seper5 Seper5 Seper5";
  grid-template-columns: 100px 265px 165px auto auto;
  grid-template-rows: 40px 40px 20px 40px 20px 40px 40px 40px 60px;
  grid-gap: 10px;
  text-align: left;
  font-size: 20px;
  border-radius: 25px;
  width: 1024px;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #9ddfe3 38%, #d8f9f8 38%, #d8f9f8 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coding-grid {
  display: grid;
  grid-template-areas:
          "Web Database General Ide";
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  width: 1024px;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .info-grid {
    display: grid;
    /* Sets up the template for fitting the "Profile:" info */
    grid-template-areas:
            "Name Name"
            "Photo Photo"
            "Photo Photo"
            "Photo Photo"
            "Email-l Email"
            "Phone-l Phone"
            "Github-l Github"
            "Linkedin-l Linkedin"
            "Position-l Position"
            "Location-l Location"
            "Qual-l Qual1"
            "Seper1 Qual2"
            "Trav-l Trav1"
            "Seper2 Trav2"
            "Reference-l Reference";
    grid-template-columns: 150px 500px;
    grid-template-rows: 40px auto auto auto auto auto auto auto auto 40px 20px 40px 20px auto;
    grid-gap: 2px;
    width: 650px;
    background: linear-gradient(to right, #9ddfe3 24%, #d8f9f8 24%, #d8f9f8 100%);
  }

  .coding-grid {
    grid-template-areas:
            "Web Database"
            "General Ide";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    width: 650px;
    font-size: 16px;
  }

  .name-animation, .hello-animation {
    display: none;
  }

  table {
    font-size: 18px;
  }
}

@media (max-width: 675px) {
  .info-grid {
    display: grid;
    /* Sets up the template for fitting the "Profile:" info */
    grid-template-areas:
            "Name"
            "Photo"
            "Email-l"
            "Email"
            "Phone-l"
            "Phone"
            "Github-l"
            "Github"
            "Linkedin-l"
            "Linkedin"
            "Position-l"
            "Position"
            "Location-l"
            "Location"
            "Qual-l"
            "Qual1"
            "Qual2"
            "Trav-l"
            "Trav1"
            "Trav2"
            "Reference-l"
            "Reference";
    grid-template-columns: auto;
    grid-template-rows: 40px auto 25px 40px 25px 40px 25px 40px 25px 40px 25px 40px 25px 40px 25px 25px 40px 25px 25px auto auto auto;
    grid-gap: 0px;
    width: 380px;
    min-width: 380px;
    background: #d8f9f8;
    font-size: 16px;
  }

  .coding-grid {
    grid-template-areas:
            "Web"
            "Database"
            "General"
            "Ide";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 380px;
    font-size: 16px;
  }

  .name-animation, .hello-animation {
    display: none;
  }

  .site-nav {
    font-size: 20px;
  }

  .text-box {
    font-size: 16px;
  }

  .view-grades {
    font-size: 12px;
  }

  .navigation > li {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  table {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .info-grid {
    display: grid;
    /* Sets up the template for fitting the "Profile:" info */
    grid-template-areas:
            "Name"
            "Photo"
            "Email-l"
            "Email"
            "Phone-l"
            "Phone"
            "Github-l"
            "Github"
            "Linkedin-l"
            "Linkedin"
            "Position-l"
            "Position"
            "Location-l"
            "Location"
            "Qual-l"
            "Qual1"
            "Qual2"
            "Trav-l"
            "Trav1"
            "Trav2"
            "Reference-l"
            "Reference";
    grid-template-columns: auto;
    grid-template-rows: 40px auto 25px 40px 25px 40px 25px 40px 25px 40px 25px 40px 25px 40px 25px 25px 40px 25px 25px auto auto auto;
    grid-gap: 0px;
    width: 300px;
    min-width: 300px;
    background: #d8f9f8;
    font-size: 12px;
  }

  .coding-grid {
    grid-template-areas:
            "Web"
            "Database"
            "General"
            "Ide";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 300px;
    font-size: 12px;
  }

  .name-animation, .hello-animation, .portrait {
    display: none;
  }

  .site-nav {
    font-size: 16px;
  }

  .text-box {
    font-size: 12px;
  }

  .view-grades {
    font-size: 12px;
  }

  table {
    font-size: 12px;
  }
}

.info-grid > div {
  padding: 0pt 0pt 0pt 8pt;
}

/* Maps the sections of the grid to the divs */

.photo {
  grid-area: Photo;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
.name {
  grid-area: Name;
  display: flex;
  justify-content: center;
}

.position-l {
  grid-area: Position-l;
}

.position {
  grid-area: Position;
}

.github-l {
  grid-area: Github-l;
}

.github {
  grid-area: Github;
}

.qual-l {
  grid-area: Qual-l;
}

.qual1 {
  grid-area: Qual1;
}

.qual2 {
  grid-area: Qual2;
}

.email-l {
  grid-area: Email-l;
}

.email {
  grid-area: Email;
}

.linkedin-l {
  grid-area: Linkedin-l;
}

.linkedin {
  grid-area: Linkedin;
}

.birth-l {
  grid-area: Birth-l;
}

.birth {
  grid-area: Birth;
}

.license-l {
  grid-area: Trav-l;
}

.license1 {
  grid-area: Trav1;
}

.license2 {
  grid-area: Trav2;
}

.phone-l {
  grid-area: Phone-l;
}

.phone {
  grid-area: Phone;
}

.reference-l {
  grid-area: Reference-l;
}

.reference {
  grid-area: Reference;
}

.location-l {
  grid-area: Location-l;
}

.location {
  grid-area: Location;
}

.web {
  grid-area: Web;
}

.database {
  grid-area: Database;
}

.general {
  grid-area: General;
}

.ide {
  grid-area: Ide;
}

.medium-img {
  width: 100px;
  height: 100px;
}

.clickable-svg {
  width: auto;
  height: 18px;
}

.coding-e {
  border-radius: 25px;
  background: lightblue;
  border-width: 10px;
  padding: 20px;
  flex-shrink: 0;
  min-width: 200px;
}

.active {
  color: black;
  transition: 0.5s;
}

.nonactive {
  color: darkslategrey;
  padding: 0px 0px;
}

.awards {
  margin: 4pt;
}

.web, .database, .general, .ide {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.web {
  background: rgb(0,255,255);
  background: linear-gradient(0deg, rgba(0,255,255,1) 0%, rgba(0,234,255,1) 25%, rgba(0,214,255,1) 50%, rgba(0,168,255,1) 75%, rgba(0,142,255,1) 100%);
}

.database {
  background: rgb(0,255,184);
  background: linear-gradient(0deg, rgba(0,255,184,1) 0%, rgba(0,255,222,1) 25%, rgba(0,255,255,1) 50%, rgba(0,215,255,1) 75%, rgba(0,185,255,1) 100%);
}

.general {
  background: rgb(0,249,255);
  background: linear-gradient(0deg, rgba(0,249,255,1) 0%, rgba(0,249,255,1) 25%, rgba(0,202,255,1) 50%, rgba(0,146,255,1) 75%, rgba(0,116,255,1) 100%);
}

.ide {
  background: rgb(0,225,151);
  background: linear-gradient(0deg, rgba(0,225,151,1) 0%, rgba(0,225,192,1) 25%, rgba(0,225,223,1) 50%, rgba(0,201,225,1) 75%, rgba(0,167,225,1) 100%);
}

#hello-message {
  display: flex;
  align-items: center;
  padding: 8px;
}

#profile-portrait {
  border-radius: 50%;
  width: 133px;
  height: 133px;
}

#header-portrait {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#name-p1 {
  color: black;
}

#name-p2 {
  color: Azure;
}
